#nav {
    width: 100%;
    border: 1px purple solid;
    display: flex;
    justify-content: space-between;
}
#content {
    width: 960px;
    border: 1px purple dotted;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
}
img {
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
}
#contact {
    color: gray;
    border: 1px gray solid;
}
h2 {
    width: 950px;
    border: 10px aqua;
}