#nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#content {
    width: 960px;
    margin: auto;
    margin-top: 40px;
    border: 1px purple solid;
    padding: 20px;
}
img {
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
}
#contact {
    color: gray;
    width: 900px;
    border: 1px gray solid; justify-content: center;
    padding: 30px;
    margin-left: auto;
    margin-top: 10%;
}
header {
    font-size: 30px;
    color: teal;
    font-weight: bold;
    margin-left: 240px;
}
h1 {
    width: 950px;
    border: 10px teal;
    margin-left: 110px;
}
h2 {
    font-size: 30px;
    color: teal; 
}
h4 {
    width: 950px;
    border: 1px gray solid;
    margin: auto;
    margin-top: 0%;
    margin-left: 1%;
    font-size: 15px;
}
h3 {
    font-size: 20px;
    margin-left: 0px;
}
p {
    border: 1px gray;
}
.button {
    color: white;
    background-color: teal;
}
div {
    margin: auto;
}
p.one {
        width: 790px;
        border: 1px solid gray;
        padding: 80px;
        margin: 7px;
      }
